<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="albert.cordova.vue.core" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-US">
  <name>vue-cordova</name>
  <description>This is a Cordova project made with Vue.js in Visual Studio 2017. It may serve as a starting point for something bigger.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Albert Kozak</author>
  <vs:template-name>BlankJS</vs:template-name>
  <vs:toolsetVersion>6.3.1</vs:toolsetVersion>
  <engine name="android" spec="5.2.1" />
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="10.0" />
  <!-- Support for Cordova 5.0.0 plugin system -->
  <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="android">
    <icon src="res/icon-logo.png" density="ldpi" />
    <icon src="res/icon-logo.png" density="mdpi" />
    <icon src="res/icon-logo.png" density="hdpi" />
    <icon src="res/icon-logo.png" density="xhdpi" />
  </platform>
  <platform name="android">
    <splash src="res/icon-logo.png" density="land-hdpi" />
    <splash src="res/icon-logo.png" density="land-ldpi" />
    <splash src="res/icon-logo.png" density="land-mdpi" />
    <splash src="res/icon-logo.png" density="land-xhdpi" />
    <splash src="res/icon-logo.png" density="port-hdpi" />
    <splash src="res/icon-logo.png" density="port-ldpi" />
    <splash src="res/icon-logo.png" density="port-mdpi" />
    <splash src="res/icon-logo.png" density="port-xhdpi" />
  </platform>
  <preference name="Orientation" value="portrait" />
  <plugin name="cordova-plugin-getmacandroid6" spec="~0.0.1" src="https://github.com/navidmalekan/getmac" />
  <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
  <plugin name="phonegap-plugin-barcodescanner" spec="~8.0.1" />
  <plugin name="cordova-plugin-file" spec="~4.3.3" />
  <plugin name="cordova-plugin-camera" spec="~2.4.1" />
  <plugin name="org.apache.cordova.plugin.mms" spec="~1.0.0" src="https://github.com/pyxweb/cordova-plugin-mms.git" />
  <plugin name="cordova-sms-plugin" spec="~1.0.0" src="https://github.com/cordova-sms/cordova-sms-plugin.git" />
  <plugin name="cordova-plugin-background-mode" spec="~0.7.2" />
  <plugin name="cordova-plugin-device" spec="~2.0.2" />
  <plugin name="cordova-plugin-local-notification" spec="~0.9.0-beta.3" src="https://github.com/katzer/cordova-plugin-local-notifications.git" />
  <plugin name="at.gofg.sportscomputer.powermanagement" spec="~1.1.0" src="https://github.com/boltex/cordova-plugin-powermanagement.git" />
</widget>